<div class="container-fluid" id="loginPage">
  <div class="row">
    <div class="col-md-12">
      <h1>Make Up Your Damn Mind!</h1>
    </div>
    <div class="input-field col-md-12">
      <input type="email" class="validate" ng-model="loginEmail" id="loginEmail">
      <label for="loginEmail">Email</label>
    </div>
    <div class="input-field col-md-12">
      <input  ng-model="loginPassword" id="loginPassword" type="password" class="validate">
      <label for="loginPassword">Password</label>
    </div>
    <div class="col-xs-6">
      <button id="loginButton"  ng-click="loginUser()" class="btn btn-primary btn-lg">Login</button>
    </div>
