<div id="mainPage">
  <!-- ============= SEARCH BAR ============= -->
  <div class="row">
    <form id="databaseSearch">
      <input type="text" ng-model="usersZipCode" id="search" placeholder="Enter your zipcode..." class="col s4 offset-s1">
      <button class="waves-effect waves-light btn-floating teal btn" ng-click="searchForLocation()"><i class="material-icons">search</i></button>
    </form>
  </div>
	<!-- <div id="checkList"> -->
  <!-- <div id="mainStuff"><input type="searchbox" id="search" placeholder="Search Interests" ng-model="filterInterests"></div> -->

  <div id="output" ng-repeat="name in placeName track by $index">
    {{name}}
  </div>


    <!-- <label ng-repeat="interest in searchResults | filter: interstsToSearch" class="interestsList">
        <input type="checkbox" checklist-model="user.roles" checklist-value="interest" id="list"> {{interest}}
    </label>
    <label ng-repeat="interest in interests | filter: filterInterests" class="interestsList">
        <div type="checkbox" checklist-model="user.roles" checklist-value="interest" id="list"> {{interest}}
    </label> -->



	<div id="theseButtons">
  <button type="button" class="btn btn-info" ng-click="showResult()">Result</button>
	<button type="button" class="btn btn-info" ng-click="saveInterests()">
  Save
  </button>
  </div>
  <!-- </div> -->

<!-- Result Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="resultModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Result</h4>
        </div>
        <div class="modal-body">
          <p>Your Activity Tonight Will Be:

          <div id="finalResult">{{selected}}</div>

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close
          </button>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

<!-- Saved Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="savedModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Saved</h4>
        </div>
        <div class="modal-body">
          <p>
          You've saved {{user.roles}} to your account!!
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close
          </button>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="searchFriends">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Saved</h4>
        </div>
        <div class="modal-body">
          <input type="searchbox" name="searchFriends" ng-model="searchFriends" placeholder="Search For Friends">

            <label ng-repeat="interest in interests | filter: searchFriends">
              {{users}}
            </label>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close
          </button>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

</div>
