<div id="mainPage">
  <!-- ============= SEARCH BAR ============= -->
  <div class="row">
    <form id="databaseSearch">
      <div class="row">
        <!-- <div class="col-md-4"> -->
          <input type="text" ng-model="usersZipCode" id="search" placeholder="Enter your zipcode..." class="col s4 offset-s1">
        <!-- </div> -->
        <div class="col-md-3">
          <select name="searchType" id="typeDropdown">
            <option value="Select">Select An Activity</option>
            <option value="restaurant">Restaurant</option>
            <option value="bowling_alley">Bowling</option>
            <option value="movie_theater">Movie</option>
            <option value="aquarium">Aquarium</option>
            <option value="night_club">Dancing</option>
            <option value="department_store|shoe_store|shopping_mall">Shopping</option>
          </select>
        </div>
        <div class="col-md-2">
          <select name="selectRadius" id="radiusDropdown">
            <option value="Select">Select Radius</option>
            <option value="8046.72">5 miles</option>
            <option value="16093.4">10 miles</option>
            <option value="24140.2">15 miles</option>
            <option value="32186.9">20 miles</option>
            <option value="40233.6">25 miles</option>
            <option value="48280.3">30 miles</option>
          </select>
        </div>
        <div class="col-md-1">
          <button class="waves-effect waves-light btn-floating teal btn" id="searchButton" ng-click="searchForLocation()"><i class="material-icons">search</i></button>
        </div>
      </div>
    </form>
  </div>
  <!-- Dropdown Trigger -->
  <!-- <div id="mainStuff"><input type="searchbox" id="search" placeholder="Search Interests" ng-model="filterInterests"></div> -->

  <div id="output" class="row">
    <div id="zeroResults">
      There are zero search results, please expand your search
    </div>
    <div>{{activity}}</div>
    <form action="#">
      <div ng-repeat="name in placeName track by $index" class="col s5 offset-s1">
        <input type="checkbox" checklist-model="checked.placeName" checklist-value="name" class="checkboxes" id="{{$index}}">
        <label for="{{$index}}">{{name}}</label>
      </div>
    </form>
  </div>

	<div id="theseButtons">
    <button type="button" class="btn btn-info" ng-click="showResult()">Result</button>
  	<button type="button" class="btn btn-info" ng-click="saveInterests()">Save</button>
  </div>

<!-- Result Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="resultModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Result</h4>
        </div>
        <div class="modal-body">
          <p>Your Activity Tonight Will Be:

          <div id="finalResult">{{selected}}</div>

          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close
          </button>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

<!-- Saved Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="savedModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Saved</h4>
        </div>
        <div class="modal-body">
          <p>
            You've saved:
            <div ng-repeat="thing in thisUsersInterests track by $index" class="savedInterests">
              {{$index}}- {{thing}}
            </div>

            <div>
              to your account!!
            </div>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close
          </button>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="searchFriends">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Saved</h4>
        </div>
        <div class="modal-body">
          <input type="searchbox" name="searchFriends" ng-model="searchFriends" placeholder="Search For Friends">

            <label ng-repeat="interest in interests | filter: searchFriends">
              {{users}}
            </label>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close
          </button>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

</div>
