<div class="container-fluid" id="splashPage">
  <div class="row">
    <div class="col-md-12">
      <h1>Make Up Your Damn Mind!</h1>
    </div>
    <div class="col-md-12">
      <input class="form-control" type="text" ng-model="loginEmail" id="loginEmail"/>
    </div>
    <div class="col-md-12">
      <input type="password" class="form-control" ng-model="loginPassword" id="loginPassword">
    </div>
    <div class="col-xs-6">
      <button id="registerButton" class="btn btn-primary" ng-click="registerUser()">Register</button>
    </div>
    <div class="col-xs-6">
      <button id="loginButton"  ng-click="loginUser()" class="btn btn-primary">Login</button>
    </div>
  </div>
</div>
